/target
/vendor/
/instance-src
/src/vendor
/src/components
/src/META-INF/data/appserver_ApplicationServer.sqlite
/.idea
/.buildpath
/.project
/.settings
.sass-cache
composer.lock
build.properties
jmeter.log
.DS_Store